* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #101d3b;
  padding: 1rem 2rem;
  color: white;
}

li+li::before {
  content: "| ";
  color: black;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu li {
  margin-left: 10px;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.banner {
  background-color: transparent;
  color: black;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-info {
  text-align: center;
}

.banner-info img {
  width: 200px;
  border-radius: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  background-image: url('/static/imgs/12.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.highlight {
  color: #670d2f
}

body.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  overflow: hidden;
  /* transform: scale(1.5); */
}

/* button */
.btn {
  margin: 30px;
  padding: 15px 50px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  font-weight: 600;
  background-color: #670d2f;
}

.blog-item {
  text-align: center;
}


.blog-con {
  display: flex;
  background-color: rgb(208, 208, 208);
  backdrop-filter: blur(100%);
  border: 2.5px solid rgba(0, 55, 255, 0.5);
  align-items: center;
  color: #000000;
  justify-content: center;
  flex-direction: column;
  padding: 35px;
  border-radius: 10px;
  width: 100px;
  margin: auto;
  margin-top: 35px;

}

.blog-item img {
  width: 80%;
  margin: 1rem 0;
  margin-bottom: 40px;
  border: 3px solid rgba(0, 55, 255, 0.5);
  padding: 4px;
  border-radius: 10px;
}

.blog-item h4 {
  margin-top: 0.1rem;
}

.blog-item p {
  margin: 0.7rem 0;


}

.blog-item a {
  display: inline-block;
  color: white;
  background-color: #333;
  padding: 0.5rem 1rem;
  text-decoration: none;
}



/* .blog-item blog-btn */

section.blog-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  overflow: hidden;
  /* transform: scale(1.5); */
}

/* button */
.blog-item a {
  margin: 10px;
  padding: 5px 20px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}

.blog-item a::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* glow */
.blog-item a::before {
  content: "";
  background: linear-gradient(45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* hover */

/* .blog-item blog-btn */
.blog-item a:hover::before {
  opacity: 1;
}

.blog-item a:active:after {
  background: transparent;
}

.blog-item a:active {
  color: #000;
  font-weight: bold;
}

/* .blog-item blog-btn */


/* banner-inf */

.banner-info {
  position: relative;
  /* Added this to allow 'top' property */
  font-family: sans-serif;
  top: 5px;
  color: #fff;
  display: inline-block;
  font-size: 2rem;
}

h1 span:nth-child(2) {
  animation-delay: 0.1s;
}

h1 span:nth-child(3) {
  animation-delay: 0.2s;
}

h1 span:nth-child(4) {
  animation-delay: 0.24s;
}

h1 span:nth-child(5) {
  animation-delay: 0.6s;
}

h1 span:nth-child(6) {
  animation-delay: 0.8s;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc,
      0 2px 0 #ccc,
      0 3px 0 #ccc,
      0 4px 0 #ccc,
      0 5px 0 #ccc,
      0 6px 0 #ccc,
      0 7px 0 #ccc,
      0 8px 0 #ccc;
  }
}

/* banner-inf */


/* h5 */


.footer-bottom {
position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}


h5 {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(to right,
      #ff0000,
      #ff7f00,
      #fff000,
      #48FF00,
      #0000ff,
      #4b0082,
      #8f00ff,
      pink);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}

@media (prefers-color-scheme: dark) {
  .highlight {
    color: #3074ac;
  }

  .menu a {
    text-decoration: none;
    color: #fff;
  }

  .logo img {
    content: url('/static/imgs/Q_Dark.PNG');
  }

  .btn {
    background-color: #3074ac;
  }

  body {
    background-image: url('/static/imgs/11.gif');
  }

}